<h1>Plants#edit</h1>

 <%= form_for(@plant) do |f| %>
  <label>Change plant nickname:</label><br>
  <%= f.text_field :plant_nickname %><br>
  
  <label>Repot plant on:</label><br>
  <%= f.text_area :repot %><br>
  
  <%= f.submit %>
<% end %>
