<h1>Plants#index</h1>

<%= link_to "Add a plant", new_plant_path %><br  />

<% @plants.each do |plant| %>
	<li><%="#{plant.plant_name} #{plant.acquired}"%> 	<%= link_to 'View', plant_path(plant.id) %> <br /></li>

<%end%>
